{% load staticfiles %}

<html>
<head>
<style>

 #bi{
 	background-image:url( "{% static "game/Back_Vi.jpg" %}");
 	background-repeat: no-repeat;
 	background-position : 50% 50%;
 	background-color:#0000000;
 	background-size: 100%;
 }

</style>
</head>
<body id="bi">
<form  align="center" action ="/PlayScreen/{{locnum}}/" method ="post">
 {% csrf_token %}
 First card: <input type="text" name="firstcard" value=""/>
 {% csrf_token %}
 Second card: <input type="text" name="secondcard" value=""/>
 {% csrf_token %}
 Third card: <input type="text" name="thirdcard" value=""/>
 {% csrf_token %}
 <input type="submit" value="select" />
 {% csrf_token %}
 <input type="reset" value="clean" />
 </form>
 <p style="margin-top:200px">
 <img width = "300" height = "300" src = "{% static "game/VI_MOVE1.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_MOVE2.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_MOVE3.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_MOVE4.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_MOVE5.png" %}">
 </p>
 <p style="margin-top:300px">
 <img width = "300" height = "300" src = "{% static "game/VI_SKILL1.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_SKILL2.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_SKILL3.png" %}">
 <img width = "300" height = "300" src = "{% static "game/VI_SKILL4.png" %}">
 <img width = "300" height = "300" src = "{% static "game/MpRecover.png" %}">
 </p> 

</body>