{% load staticfiles %}

<html>
<head>
<style>
 a {text-decoration: none}

 #start{
 	background-image:url( "{% static "game/startscreen.jpg" %}");
 	background-repeat: no-repeat;
 	background-position : 50% 50%;
 	background-color:#EAEAEA;
 }
</style>
</head>
<body id="start">


   <br></br><br></br><br></br><br></br><br></br>
   <p align="center">
   <a href = "selectcharacter/">
   <font color="black" size=30><img src= "{% static "game/selectchar.jpg" %}"></font>
   </a>
   </p>

   <p align="center">
   <a href = "selectcharacter/">
   <font color="black" size=30> With Player</font>
   </a>
   </p>

   
</body>
</html>